<h1>My Datagrid</h1>
<input matInput (keyup)="filter($event)" placeholder="find" />
<cdk-virtual-scroll-viewport
  tvsItemSize="30"
  headerHeight="56"
  class="wrapper mat-elevation-z2"
  style="height: 80%"
>
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    #mytable
    matSort
  >
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>

    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>user ID</th>
      <td mat-cell *matCellDef="let t">{{ t.userId }}</td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Post Id</th>
      <td mat-cell *matCellDef="let t">{{ t.id }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let t">{{ t.title }}</td>
    </ng-container>

    <ng-container matColumnDef="body">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Body</th>
      <td mat-cell *matCellDef="let t">{{ t.body }}</td>
    </ng-container>


  </table>
</cdk-virtual-scroll-viewport>
<mat-paginator
  [pageSizeOptions]="[10, 25, 30, ]"
  showFirstLastButtons
></mat-paginator>